<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <main>
      <% if (messages.notice) { %>
        <p class="notice"><%- messages.notice %></p>
      <% } %>
      <% if (messages.error) { %>
        <p class="error"><%- messages.error %></p>
      <% } %>
      
      <%- body %>
    </main>
    
    <%- include('../partials/footer') %>
  </div>
</body>
</html>